.navbar {
    width: 100%;
    height: 14rem;
    background-color: #000;
    position: fixed;
    top: -15rem;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 1px rgba($color: #000000, $alpha: 0.8);
    transition: top .4s, opacity .2s;

    &.change {
        top: 0;
        transition: top .4s .2s;
    }
}

.navbar-link {
    color: #aaa;
    margin: 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: color .3s;
    opacity: 0;

    i {
        font-size: 7rem;

    }

    span {
        font-size: 2.5rem;
        letter-spacing: .5rem;
        margin-top: .5rem;
    }

    &:hover {
        color: $secondaryColor;
    }
}

.menu {
    width: 4rem;
    height: 6rem;
    background-color: #000;
    cursor: pointer;
    // position: absolute;
    position: fixed;
    z-index: 100;
    top: 1rem;
    left: 5rem;
    border-radius: 30rem 30rem 15rem 15rem;
    box-shadow: 1px 1px 10px rgba($color: #000000, $alpha: 0.8), -1px -1px 1px rgba($color: #000000, $alpha: 0.8);
    transition: top .4s .2s;

    &.change {
        top: 15rem;
        transition: top .4s;
    }

    &::before {
        content: '';
        width: .3rem;
        height: 15rem;
        background-color: #000;
        position: absolute;
        top: -15rem;
        left: calc(50% - .15rem);
        box-shadow: 1px 0 1px rgba($color: #000000, $alpha: 0.8);

    }
}

.change .navbar-link {
    opacity: 1;

    &:nth-child(1) {
        transition: opacity .4s .5s, color 3s;
    }
    &:nth-child(2) {
        transition: opacity .4s .6s, color 3s;
    }
    &:nth-child(3) {
        transition: opacity .4s .7s, color 3s;
    }
    &:nth-child(4) {
        transition: opacity .4s .8s, color 3s;
    }
    &:nth-child(5) {
        transition: opacity .4s .9s, color 3s;
    }
}
