@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

$secondaryColor: #a79a2d;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

html {
    // defaults rem to 10px
    font-size: 62.5%;
}

.sec-heading {
    font-size: 12rem;
    font-weight: 900;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: .5rem;
    text-shadow: 3px 3px 3px rgba($color: #000000, $alpha: 1);
}



@import 'navbar';
@import 'sec1';
@import 'sec2';
@import 'sec3';
@import 'footer';
@import 'mobile';